/*---ANIMATION---*/

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes slide {
	0%{
		background-position: 0%;
	}
	100% {
		background-position: 100%;
	}
}

@keyframes slide {
	0%{
		background-position: 0%;
	}
	100% {
		background-position: 100%;
	}
}

@-webkit-keyframes blink {
	0%{
		height: 40px;
	}
	1%{
		height: 0%;
	}
	2%{
		height: 40px;
	}
	100% {
		height: 40px;
	}
}

@keyframes blink {
	0%{
		height: 40px;
	}
	1%{
		height: 0%;
	}
	2%{
		height: 40px;
	}
	100% {
		height: 40px;
	}
}

@-webkit-keyframes blink-small {
	0%{
		height: 30px;
	}
	1%{
		height: 0%;
	}
	2%{
		height: 30px;
	}
	100% {
		height: 30px;
	}
}

@keyframes blink-small {
	0%{
		height: 30px;
	}
	1%{
		height: 0%;
	}
	2%{
		height: 30px;
	}
	100% {
		height: 30px;
	}
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-630px);
            transform: translateX(-630px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  55% {
    -webkit-transform: translateX(-68px);
            transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-630px);
            transform: translateX(-630px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  55% {
    -webkit-transform: translateX(-68px);
            transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/*---GENERAL---*/

:root {
	--main-color: #FFAA00;
	--decorate-color: #00FEFF;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	/*outline: 1px solid red;*/
	scrollbar-width: thin;
  	scrollbar-color: #00FEFF transparent;
  	scroll-behavior: smooth;
}

body {
	min-width: 320px;
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	margin: 0;
	padding: 0;
	background: #ffffff;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
 width: 7px;           
}

body::-webkit-scrollbar-thumb {
  background-color: var(--decorate-color);
}

a {
	text-decoration: none;
	color: var(--main-color);
}

a:hover {
	color: #000000;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	display: inline-block;
	padding: 15px 0;
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
	background: var(--decorate-color);
	border: none;
	-webkit-box-shadow: 4px -4px 0 #000000;
	        box-shadow: 4px -4px 0 #000000;
}

.section__title {
	margin: 0;
	padding: 100px 0 50px 0;
	font-weight: 800;
	font-size: 60px;
	color: var(--main-color);
	text-shadow: 4px -4px 0px #000000;
}

@media (max-width: 1199px) {
	.section__title {
		padding: 60px 0 30px 0;
		font-size: 48px;
		line-height: 56px;
	}
}

@media (max-width: 767px) {
	.section__title {
		padding: 40px 0 20px 0;
		font-size: 32px;
		line-height: 40px;
	}
}

/*---HEADER---*/

.header {
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	top: 0;
	z-index: 100;
	-webkit-transition: all 0.5s step-end;
	-o-transition: all 0.5s step-end;
	transition: all 0.5s step-end;
}

.header--background {
	background: #ffffff;
	-webkit-transition: all 0.5s step-start;
	-o-transition: all 0.5s step-start;
	transition: all 0.5s step-start;
}

.navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 65px;
	-ms-flex-line-pack: center;
	    align-content: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.navigation__toggle {
	position: relative;
	width: 25px;
	height: 25px;
	margin: 20px;
	border: none;
	background: transparent;
	cursor: pointer;
	/*outline: none;*/
}

.navigation__toggle--open:before {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	width: 25px;
	height: 4px;
	background-color: #000000;
	-webkit-box-shadow: 0 10px 0 0 #000000, 0 20px 0 0 #000000;
	        box-shadow: 0 10px 0 0 #000000, 0 20px 0 0 #000000;
}

.navigation__toggle--close:before,
.navigation__toggle--close:after {
	position: absolute;
	content: '';
	top: 10px;
	right: 0;
	width: 25px;
	height: 4px;
	background-color: #000000;
}

.navigation__toggle--close:before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.navigation__toggle--close:after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.animate-right-toggle {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.animate-right-navigation {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.animate-left {
	-webkit-animation: bounce-in-left 1s both;
	        animation: bounce-in-left 1s both;
}

.navigation__list {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding: 20px 20px 20px 0;
	margin: 0;
	list-style: none;
	/*font-size: 30px;*/
	line-height: 24px;
	font-weight: 800;
	text-transform: uppercase;
}

.navigation__list--closed {
	display: none;
}

.navigation__list--opened {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.navigation__list-item {
	margin: 0 0 0 20px;
}

.navigation__list-item:first-child {
	margin: 0;
}

.navigation__list-item a {
	text-decoration: none;
	color: #000000;
}

.navigation a.active,
.navigation a:hover {
    color: var(--main-color);
}

@media (max-width: 1199px) {
	.header {
		position: absolute;
	}

	.navigation__toggle {
		margin: 20px 40px;
	}

	.navigation__toggle--close {
		margin-right: 20px;
	}

	.navigation__list {
		padding: 20px 40px 20px 0;
	}
}

@media (max-width: 767px) {
	.animate-right-toggle,
	.animate-left {
		-webkit-animation: none;
		        animation: none;
	}

	.navigation {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-ms-flex-line-pack: center;
		    align-content: center;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}

	.navigation__toggle {
		margin: 20px;
	}

	.navigation__toggle--open,
	.navigation__toggle--close {
		-ms-flex-item-align: end;
		    align-self: flex-end;
	}

	.navigation__list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 0;
	}

	.navigation__list-item {
		margin: 0 20px 20px;
	}

	.navigation__list-item:first-child {
		margin: 0 20px 20px;
	}
}

/*---MAIN---*/

main {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

.main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: calc(100vh - 70px);
	padding: 0 70px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.main__title {
	position: relative;
	font-size: 80px;
	line-height: 88px;
	text-align: center;
	color: var(--main-color);
	text-shadow: 4px -4px 0 #000000;
	z-index: 1;
	-webkit-animation: bounce-in-top 1.1s 0.5s both;
	        animation: bounce-in-top 1.1s 0.5s both;
}

.main__title span {
	color: var(--decorate-color);
}

.main__image-wrapper {
	position: relative;
	display: inline-block;
	padding: 10px;
	margin: -140px 0 0 0;
	border-radius: 50%;
	overflow: hidden;
	-webkit-animation: scale-in-center 0.5s ease-in both;
	        animation: scale-in-center 0.5s ease-in both;
}

.main__image-wrapper:hover:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('../img/telegram-icon.png') center center no-repeat;
	background-size: 50%;
	z-index: 1;
}

.main__image {
	display: block;
}

.main__image-wrapper:hover .main__image {
	-webkit-filter: brightness(50%);
	        filter: brightness(50%);
}

@media (max-width: 1199px) {
	.main {
		height: 100vh;
		padding: 0 40px;
	}

	.main__title {
		font-size: 48px;
		line-height: 56px;
	}

	.main__image-wrapper {
		margin: -120px 0 0 0;
	}

	.main__image-wrapper:hover:before {
		background-image: none;
	}

	.main__image-wrapper:hover .main__image {
		-webkit-filter: none;
		        filter: none;
	}
}

@media (max-width: 767px) {
	.main {
		padding: 0 20px;
	}

	.main__title {
		font-size: 32px;
		line-height: 40px;
	}

	.main__image-wrapper {
		margin: -90px 0 0 0;
	}

	.main__image {
		width: 200px;
		height: auto;
	}
}

/*---ABOUT---*/

.section__wrapper {
	background: url('../img/developer 2.svg') no-repeat;
	background-position: right -150px bottom 0;
	background-size: 1000px;
	position: relative;
}

.circle {
	position: absolute;
	bottom: 620px;
	right: 250px;
	-webkit-transform: translate(-50%, 50%);
	    -ms-transform: translate(-50%, 50%);
	        transform: translate(-50%, 50%);
	width: 40px; 
	height: 40px;
	background: #ffffff;
	border-radius: 50%;
	-webkit-animation: blink 10s infinite;
	        animation: blink 10s infinite;
	-webkit-box-shadow: 70px 0 0 0 #ffffff;
	        box-shadow: 70px 0 0 0 #ffffff;
}

.about {
	padding: 0 70px;
}

.about__text {
	width: 66.6%;
	margin: 0;
	padding: 0 0 20px 0;
}

.about__button {
	width: 190px;
	margin: 20px 0 70px 0;
	text-decoration: none;
	color: #000000;
}

.about__button:hover {
	background: var(--main-color);
}

@media (max-width: 1199px) {
	.section__wrapper {
		background-position: right -100px bottom 0;
		background-size: 750px;
	}

	.circle {
		bottom: 465px;
		right: 201px;
		width: 30px; 
		height: 30px;
		-webkit-animation: blink-small 10s infinite;
		        animation: blink-small 10s infinite;
		-webkit-box-shadow: 55px 0 0 0 #ffffff;
		        box-shadow: 55px 0 0 0 #ffffff;
	}

	.about {
		padding: 0 40px;
	}

	.about__text {
		width: 100%;
	}

	.about__button:hover {
		background: var(--decorate-color);
	}
}

@media (max-width: 767px) {
	.section__wrapper {
		background: none;
	}

	.circle {
		display: none;
	}

	.about {
		padding: 0 20px;
	}

	.about__button {
		width: 100%;
		margin: 20px 0 40px 0;
	}
}

/*---SKILLS---*/

.skills {
	padding: 0 70px;
}

.skills__lists {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 0 70px 0;
}

.skills__lists ul {
	padding: 0;
	margin: 0;
	line-height: 40px;
	list-style: none;
}

.skills__language-list,
.skills__tehnology-list {
	width: 25%;
}

.skills__skills-list {
	width: 50%;
}

.skills__lists li {
	position: relative;
	padding: 0 0 0 20px;
}

.skills__lists li:before {
	position: absolute;
	content: '•';
	left: 0;
	font-size: 30px;
	font-weight: 800;
	color: var(--decorate-color);
}

@media (max-width: 1199px) {
	.skills {
		padding: 0 40px;
	}

	.skills__lists {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.skills__language-list,
	.skills__tehnology-list {
		width: 100%;
	}

	.skills__skills-list {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.skills {
		padding: 0 20px;
	}

	.skills__lists {
		padding: 0 0 40px 0;
	}
}

/*---PROJECTS---*/

.projects {
	padding: 0 70px;
}

.projects__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 20px 0 70px 0;
}

.projects__wrapper-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 67.1%;
}

.projects__wrapper-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 32.9%;
}

.projects__item {
	position: relative;
	width: 100%;
}

.projects__wrapper-left .projects__item:first-child {
	margin: 0 20px 20px 0;
}

.projects__wrapper-right .projects__item:first-child {
	margin: 0 0 20px 20px;
}

.projects__wrapper-left .projects__item:not(:first-child) {
	width: calc(50% - 30px);
}

.projects__wrapper-left .projects__item:nth-child(2) {
	margin: 20px 20px 0 0;
}

.projects__wrapper-left .projects__item:nth-child(3) {
	margin: 20px 20px 0 20px;
}

.projects__wrapper-right .projects__item:not(:first-child) {
	margin: 20px 0 0 20px;
}

.projects__wrapper img {
	display: block;
	width: 100%;
	height: auto;
	border: 1px solid #000000;
	-webkit-box-shadow: 4px -4px 0 #000000;
	        box-shadow: 4px -4px 0 #000000;
}

.projects__item-description {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 40px;
	color: #000000;
	background: url('../img/external-link.svg') no-repeat var(--main-color);
	background-position: right 15px bottom 15px;
}

.projects__item:hover .projects__item-description {
	display: block;
}

.projects__item-description h3 {
	margin: 0;
	font-weight: 800;
	text-transform: uppercase;
}

.projects__item-description p {
	margin: 0 0 40px 0;
}

@media (max-width: 1199px) {
	.projects {
		padding: 0 40px;
	}

	.projects__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.projects__wrapper-left {
		width: 100%;
	}

	.projects__wrapper-right {
		width: 100%;
	}

	.projects__wrapper-left .projects__item:first-child {
		margin: 0 0 20px 0;
	}

	.projects__wrapper-right .projects__item:first-child {
		margin: 0 0 20px 0;
	}

	.projects__wrapper-left .projects__item:not(:first-child),
	.projects__wrapper-right .projects__item {
		width: calc(50% - 20px);
	}

	.projects__wrapper-left .projects__item:nth-child(2) {
		margin: 20px 20px 20px 0;
	}

	.projects__wrapper-left .projects__item:nth-child(3) {
		margin: 20px 0 20px 20px;
	}

	.projects__wrapper-right .projects__item:first-child {
		margin: 20px 20px 0 0;
	}

	.projects__wrapper-right .projects__item:nth-child(2) {
		margin: 20px 0 0 20px;
	}

	.projects__item-description {
		padding: 20px;
	}

	.projects__item-description--show {
		display: block;
	}

	.projects__item:hover .projects__item-description {
		display: none;
	}

	.projects__item:hover .projects__item-description--show {
		display: block;
	}

	.projects__item-description p {
		margin: 0 0 20px 0;
	}
}

@media (max-width: 767px) {
	.projects {
		padding: 0 20px;
	}

	.projects__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 20px 0 40px 0;
	}

	.projects__wrapper-left {
		width: 100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.projects__wrapper-right {
		width: 100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.projects__wrapper-left .projects__item:first-child {
		margin: 0 0 10px 0;
	}

	.projects__wrapper-right .projects__item:first-child {
		margin: 0 0 10px 0;
	}

	.projects__wrapper-left .projects__item:not(:first-child),
	.projects__wrapper-right .projects__item {
		width: 100%;
	}

	.projects__wrapper-left .projects__item:nth-child(2) {
		margin: 10px 0;
	}

	.projects__wrapper-left .projects__item:nth-child(3) {
		margin: 10px 0;
	}

	.projects__wrapper-right .projects__item:first-child {
		margin: 10px 0;
	}

	.projects__wrapper-right .projects__item:nth-child(2) {
		margin: 10px 0 0 0;
	}
}

@media (max-width: 360px) {
	.projects__item-description h3,
	.projects__item-description p {
		line-height: 24px;
	}
}

/*---CONTACTS--*/

.contacts {
	padding: 0 70px;
}

.contacts__text {
	margin-top: 0;
}

.contacts__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.contacts__form label {
	display: block;
}

.contacts__form {
	position: relative;
	width: 66.6%;
}

.contacts__form input {
	display: block;
	width: 100%;
	margin: 0 0 20px 0;
	padding: 16px;
	border: 1px solid #000000;
	-webkit-box-shadow: 4px -4px 0 #000000;
	        box-shadow: 4px -4px 0 #000000;
}

.contacts__form textarea {
	display: block;
	width: 100%;
	height: 170px;
	margin: 0 0 40px 0;
	padding: 16px;
	border: 1px solid #000000;
	-webkit-box-shadow: 4px -4px 0 #000000;
	        box-shadow: 4px -4px 0 #000000;
	resize: none;
}

.contacts__form input:valid:not(:placeholder-shown),
.contacts__form textarea:valid:not(:placeholder-shown),
.contacts__form input:focus,
.contacts__form textarea:focus {
	padding: 15px;
	border: 2px solid var(--main-color);
	outline: none;
}

.contacts__form input:invalid:not(:placeholder-shown),
.contacts__form textarea:invalid:not(:placeholder-shown) {
	padding: 15px;
	border: 2px solid #FF0000;
	color: #FF0000;
}

.contacts__form-button {
	width: 190px;
	margin: 0 0 10px 0;
	line-height: 32px;
	cursor: pointer;
}

.contacts__form-button:hover {
	background: var(--main-color);
}

.contacts__form-success {
	display: none;
	position: absolute;
	width: 100%;
	margin: -72px 0 10px 0;
	padding: 15px 50px 15px 20px;
	font-weight: 400;
	line-height: 32px;
	text-align: left;
	background: var(--main-color);
	-webkit-box-shadow: 4px -4px 0 #000000;
	        box-shadow: 4px -4px 0 #000000;
}

.contacts__form-success--show {
	display: block;
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.contacts__form-success-toggle {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 18px;
	right: 15px;
	border: none;
	background: transparent;
	cursor: pointer;
}

.contacts__form-success-toggle:before,
.contacts__form-success-toggle:after {
	position: absolute;
	content: '';
	top: 10px;
	right: 0;
	width: 25px;
	height: 5px;
	background-color: #000000;
}

.contacts__form-success-toggle:before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.contacts__form-success-toggle:after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.contacts__form small {
	display: block;
	padding: 0 0 70px 0;
	font-size: 12px;
	line-height: 20px;
	color: #DADADA;
}

.contacts__icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 25px 0 0 40px;
}

.contacts__icons a {
	font-size: 24px;
	margin: 0 0 20px 0;
	color: #000000;
}

.contacts__icons i:hover {
	color: var(--main-color);
}

@media (max-width: 1199px) {
	.contacts {
		padding: 0 40px;
	}

	.contacts__form {
		width: 705px;
	}

	.contacts__form-button:hover {
		background: var(--decorate-color);
	}

	.contacts__form small {
		padding: 0 0 40px 0;
	}

	.contacts__icons i:hover {
		color: #000000;
	}
}

@media (max-width: 767px) {
	.contacts {
		padding: 0 20px;
	}

	.contacts__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.contacts__form {
		width: 100%;
	}

	.contacts__form-button {
		width: 100%;
	}

	.contacts__icons {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		margin: 0 0 40px 0;
	}

	.contacts__icons a {
		margin: 0 20px 0 0;
	}
}

/*---UP-BUTTON---*/

.up-button {
	display: none;
	position: fixed;
	width: 20px;
	z-index: 1;
	padding: 17px 0 0 0;
	bottom: 20px;
	right: 22px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	word-wrap: break-word;
	border: none;
	background: transparent;
	cursor: pointer;
}

.up-button--show {
	display: block;
}

.up-button a {
	position: relative;
	width: 20px;
	padding: 17px 0 0 0;
	color: #000000;
}

.up-button:hover a {
	color: var(--main-color);
}

.up-button a:before {
	position: absolute;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	content: '';
	width: 14px;
	height: 14px;
	top: 0;
	border: 7px solid transparent;
	border-bottom: 7px solid #000000;
}

.up-button:hover a:before {
	border-bottom: 7px solid var(--main-color);
}

@media (max-width: 1199px) {
	.up-button--show {
		display: none;
	}
}